[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywizlight = "*"
mss = "*"
numpy = "*"
opencv-python = "==4.5.3.56"
colorthief = "*"

[dev-packages]

[requires]
python_version = "3.9"
