[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywizlight = "*"
mss = "*"
numpy = "*"
colorthief = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
